<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\tc-travel.com\error_docs\maintenance.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <!-- SECURITY HEADERS - https://securityheaders.io/? -->
        <remove name="X-Powered-By" />
        <remove name="X-Powered-By-Plesk" />
        <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
        <add name="Referrer-Policy" value="strict-origin" />
        <!-- Protects against MIME-type confusion attack. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- CSP modern XSS directive-based defence, used since 2014. ref.: http://content-security-policy.com/ -->
        <!-- <add name="Content-Security-Policy" value="default-src 'self' cdnjs.cloudflare.com cdn.jsdelivr.net www.google.com; font-src *;img-src * data:; script-src *; style-src *;" />-->
        <!-- CSP replace X-Frame-Options to block resources from being loaded and clickjacking -->
        <!-- <add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' https://tagmanager.google.com/ https://www.googletagmanager.com/ https://use.fontawesome.com;style-src 'self' 'unsafe-inline' https://tagmanager.google.com/ https://fonts.googleapis.com/ https://use.fontawesome.com; img-src www.googletagmanager.com; font-src 'self' https://use.fontawesome.com;" /> -->
        <!-- Protects against clickjacking attacks. (Modern protection) https://stackoverflow.com/a/47947345/10028768 -->
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors -->
        <!-- <add name="X-XSS-Protection" value="1; mode=block" /> -->
        <add name="X-XSS-Protection" value="0" />
        <add name="Content-Security-Policy" value="
          base-uri 'self';
          font-src *;
          frame-ancestors 'self';
          img-src * data:;
          media-src *;
          object-src 'none';
          "
        />
        <add name="Content-Security-Policy-Report-Only" value="
          base-uri 'self';
          font-src *;
          frame-ancestors 'self';
          img-src https: data:;
          media-src *;
          object-src 'none';
          "
        />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="364.00:00:00" />
    </staticContent>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\tc-travel.com\tmp" />
  </system.web>
</configuration>
