body {
	font:bold 0.81em/1.5em Arial, Helvetica, sans-serif;
	background:#1c5275 url(../images/bg_page.jpg) repeat-x;
	margin:0; padding:0;}
a {color:#b74923; font-weight:bold; text-decoration:underline;}

#container,#logo,#content,#copy,#photos,#footer {overflow:hidden; display:block;}
#container {width:650px; margin:25px auto 50px auto; padding:0;}
#logo {width:650px; height:75px; margin:0; padding:0; background-color:#fff; border-bottom:1px solid #4b81a3;}
#content {width:650px; margin:0; padding:0; background:#fff url(../images/body_bottom.gif) bottom no-repeat;}
#content #copy {width:610px; margin:0 0 0 20px; padding:0; color:#1c5275;}
#content #copy #photos {width:423px; height:363px; float:right; margin:0 0 20px 10px; padding:0;}
#footer {width:640px; margin:0 0 0 10px; padding:4px 0 0 0; color:#fff;}

.highlight {color:#b74923;}